<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/angularjs/test12.html</title>
<!-- 부트스트랩 로딩시키기 -->
<link rel="stylesheet" href="../resources/css/bootstrap.css" rel="stylesheet" />

<!-- angularjs 로딩시키기 -->
<script type="text/javascript" src="../resources/js/angular.min.js"></script>
<script>
	var cafeApp=angular.module("cafeApp",[]);
	cafeApp.controller("cafeCtrl", function($scope, $http){
		//페이지 로딩되는 시점에 실행되는 영역
		$scope.pageNum=1;
		//ajax로 카페 글 목록을 요청
		$http({
			url:"../cafe/ajax_list.do",
			method:"get",
			params:{pageNum:$scope.pageNum}
		}).success(function(data){
			$scope.list=data;
		});//success
		/*
		jquery 일 때
		$.ajax({
			url:"xxx.do",
			method:"get".
			data:{pageNum:x},
			succcess:function(data){
				
			}
			특정 요청에 대해서 응답되는 문자열은 json 이다.
			ajax_list.do 는 json형식의 문자열을 출력해준다. 
			서버가 html형식의 문자열을 응답을 한 걸 웹브라우저가 해석을 해서 출력을 해준다. 
		});
		
		html은 틀 안에 데이터가 녹아 들어가 있는 상태
		json은 틀이 없고 데이터 그 자체만 들어가 있다. 
		
		틀을 미리 만들고 에이젝스 요청에 대해서 데이터를 응답
		page loading -> template (틀 )
		ajax request(요청 ) -> json (data )
		*/
		//다음 페이지 버튼을 눌렀을 때 호출된 함수 새로 고침 없이 가능 
		$scope.next=function(){
			$scope.pageNum++;
			$http({
				url:"../cafe/ajax_list.do",
				method:"get",
				params:{pageNum:$scope.pageNum}
			}).success(function(data){
				$scope.list=data;
			});
		};//next()
		
		$scope.prev=function(){
			$scope.pageNum--;
			$http({
				url:"../cafe/ajax_list.do",
				method:"get",
				params:{pageNum:$scope.pageNum}
			}).success(function(data){
				$scope.list=data;
			});
		};//prev()
	});
</script>
</head>
<body ng-app="cafeApp">
	<div class="container mt-4" ng-controller="cafeCtrl">
		<h1>카페 글 목록 입니다.</h1>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>번호</th>
					<th>작성자</th>
					<th>제목</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tmp in list">
					<td>{{tmp.num}}</td>
					<td>{{tmp.writer}}</td>
					<td>{{tmp.title}}</td>
					<td>{{tmp.viewCount}}</td>
					<td>{{tmp.regdate}}</td>
				</tr>
			</tbody>
		</table>
		<button ng-click="prev()" class="btn btn-outline-primary">이전 페이지</button>
		<button ng-click="next()" class="btn btn-outline-primary">다음 페이지</button>
	</div>
</body>
</html>